body {
  nav {
    text-align: right;
    // border-bottom: 1px solid black;
  }

  ul {
    float: left;
    // height: auto;
  }

  .cat-single-container {
    // float: right;
    width: 60%;
    margin: 0 auto;

  }
}
